/* Write your CSS here */

.todo-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.todo-title {
  color: #000000;
  font-size: 32px;
  font-family: 'Roboto';
  font-weight: 500;
}

.delete-button {
  color: #ff0b37;
  border-radius: 12px;
  border-width: 2px;
  border-color: #ff0b37;
  border-style: solid;
  background-color: #ffffff;
  padding: 10px 24px 10px 24px;
}
